.a-box{
    margin-top: 1rem;
    background-color: #222428;
    padding: .5rem;
    border-radius: 10px;
}
.a-top{
    display: flex;
}
.a-top img{
    height: 3rem;
    border: 3px solid black;
    border-radius: 50%;
}
.top-text{
    padding-left: .5rem; 
}
.a-bid{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.amount{
    padding-left: .2rem;
}
.offer{
    cursor: pointer;
    background-color: yellow;
    border-radius: 5px;
    height: 2rem;
    width: 6rem;
    padding: .4rem;
    outline: none;
    border: none;
    transition: all .2s;
}

.offer:hover {
    transform: scale(1.02);
}